* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #15181d;
    color: #e6edf3;
}

.container {
    margin: 0 auto;
}

.main-header {
  background-color: #02192e;
  padding: 30px 30px;
  margin-bottom: 15px;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
    text-align: center;
    color: #67afee;
    margin-bottom: 30px;
    
}

.logo {

  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  transition: transform 0.3s ease;
  text-align: left;
}

.logo-img {
    width: 35px;
    height: 35px;
}

.amogus-img {
    width: 1px;
    height: 1px;
}

.skibidi-box {
    justify-content: center; 
    display: flex;
    gap: 10px;
    width: 90%;
    margin: 0 auto 30px;
}

#s-input {
    
    max-width: 1000px;
    flex: 1;
    padding: 12px 16px;
    background: #161b22;
    border: 1px solid #30363d;
    border-radius: 8px;
    color: white;
    font-family: 'Poppins', sans-serif;
    outline: none;
    font-size: 20px;
}

#s-input:focus {
    border-color: #67afee;
}

#s-btn {
    padding: 12px 24px;
    background: #d64cad;
    border:  #30363d 1px solid;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: .4s ease;
}

#s-btn:hover {
    background: #f87fd4;
}

.results-grid {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.deal-card {
    background: #161b22;
    border: 1px solid #30363d;
    border-radius: 12px;
    overflow: hidden;
}

.deal-card img {
    width: 200px;
    height: 200px;
    object-fit: fill;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 0 0 5px 3px #67afee
}

.deal-card .info {
    padding: 12px;
}

.deal-card h3 {
    font-size: 1rem;
}

.empty-state {
    text-align: center;
    padding: 40px;
    color: #8b949e;
}

#f-tog {
    padding: 12px 24px;
    background: #d64cad;;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.f-menu {
    display: none;
    gap: 100px;
    justify-content:center;
    max-width: 10000px;
}

#f-menu {
    
}

#f-tog:hover {
    background: #f87fd4;
}

.ildiv {
    display: flex;
}

.f-menu-displayed {
    display: flex;
    justify-content: space-between;
    padding: 23px;
    gap: 100px;
    margin: 0 auto;
    max-width: 1000px;
    background: #02192e;
    border-radius: 50px;
    
}

/* Style for the Watchlist */
h2 {
    color: #67afee;
    margin-top: 40px;
    padding-left: 16px;
    border-left: 4px solid #FF8A80;
}

.stores-box{
    overflow-y: scroll;
    max-height: 300px;
}

.watchlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.price-input {
    width: 100%;
    padding: 8px;
    background: #161b22;
    border: 1px solid #30363d;
    border-radius: 8px;
    color: #67afee;
    font-family: 'Poppins', sans-serif;
    outline: none;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.deal-card {
    min-width: 90%;
    max-width: 90%;
    flex: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.lowprice, .perc-saved, .rating-s {
    font-size: 14px;
    color: #67afee;
    background-color: #161b22;
    padding: 10px 16px;
    border:  #30363d 1px solid;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: .4s ease;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 10px;
}

.lowprice:hover, .perc-saved:hover, .rating-s:hover {
    background-color: #1e252e;
}

.ildiv {
    margin-top: 4px;
    border: 1px solid #30363d;
    background-color: #161b22;
    border-radius: 5px;
    justify-content: center;
    padding: 5px;
}

.ildiv input {
  appearance: none; 
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #22203b;
  border: 1px solid #30363d; 
  cursor: pointer;
  transition: .4s ease
}

.ildiv input:checked {
  background-color: #5c53da;
  background-image: url('images/check.svg');
  background-size: contain;
}

.ildiv:hover {
    background-color: #1e2521;
}

.ildiv img{
    border-radius: 100%;
}

.p-range-title {
    margin-bottom: 8px;
}

#sel-all, #des-all, #clear-sort {
    color: #67afee;
    background-color: #161b22;
    border:  #30363d 1px solid;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: .4s ease;
    padding: 4px;
}

#clear-sort {
    margin-top: 10px;
}

.active {
    background-color: #6c85a7;
    color: #161b22;
    box-shadow: 0 0 3px 2px #4c90cc;
}

.active:hover{
    background-color: #a4b4ca;
    color: #161b22;
    box-shadow: 0 0 3px 2px #576169;
}

.ildiv label {
    padding-right: 5px;
}

.price-range {
    position: relative;
}

#apply-changes {
    padding: 12px 24px;
    background: #d64cad;
    border:  #30363d 1px solid;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: .4s ease;
    position: absolute;
    bottom: 0;
    left: 10%;
}

#apply-changes:hover {
    background: #f87fd4;
}

.all-games-deals {
    background-color: #161b22;
    color: #67afee;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    border-top: solid #343a3e 2px;
    border-right: solid #161b22;
    border-left: solid #161b22;
    border-bottom: solid #161b22;
    text-decoration: underline;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  left: -250px;
  transition: 0.3s; 
  background-color: #111;
}

.sidebar:hover{
    background-color: #111;
}

.sidebar.active {
  left: 0;
  top: 0;
}

#sidebar-toggle{
    padding: 12px 24px;
    background: #36be58;
    border:  #30363d 1px solid;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: .3s;
}

.sidebaroff {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s;
}

#sXbtn {
    background: #343a3e;
    color: whitesmoke;
    position: absolute;
    right: 0;
    padding: 5px;
}

#sXbtn:hover {
    background: #30363d;
}

